import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <statistics players=input.players offices=input.offices x01=input.statistics_x01 office_statistics=input.office_statistics from=input.from to=input.to locals=input.locals/>
  </@body>
</>
