import Layout from "./obs-layout.marko"

<${Layout}>
  <@body>
    <obs-scoreboard leg=input.leg leg_players=input.legPlayers players=input.players match=input.match match_metadata=input.matchMetadata />
  </@body>
</>