<page-header style="block-container" heading="Matches" subheading="Overview over all matches" right='<ul class="sync-pagination"/>'/>
<matches-table players=input.players matches=input.matches offices=input.offices/>
<div class="block-container">
  <ul id="pagination-matches" class="sync-pagination pagination-md float-right"/>
</div>
