$ var clazz = input.class || "";
<if(input.dart.value !== null)>
  <if(input.label)>
    <div class="dart-score-container">
      <label class=`${clazz} ${state.class}`>${state.text}</label>
    </div>
  </if>
  <else>
    <div class="dart-score">
      <div class=`${clazz} ${state.class}`>${state.text}</div>
    </div>
  </else>
</if>