<div class="block-container-header">
  <i class="fas fa-arrow-alt-circle-down"/>
  <span class="ml-10">Options</span>
</div>
<div class="block-container-with-header">
  <button class="btn btn-primary" type="button" onclick="window.location.href='/tournaments/admin'">
    <i class="fas fa-plus-square"/>
    <span class="ml-10">New Tournament</span>
  </button>
</div>
