<if(input.multiplier)>
    <for|value| of=input.numbers>
        <td>
            <score-button value=value multiplier=input.multiplier />
        </td>
    </for>
</if>
<else>
    <for|multiplier| from=1 to=3>
        <for|value| of=input.numbers>
            <td>
                <score-button value=value multiplier=multiplier />
            </td>
        </for>
    </for>
</else>