import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <leg leg=input.leg match=input.match players=input.players leg_players=input.leg_players global_statistics=input.global_statistics locals=input.locals experimental=input.experimental/>
  </@body>
</>
