import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <tournament-schedule tournament=input.tournament players=input.players metadata=input.metadata matches=input.matches locals=input.locals/>
  </@body>
</>
