doctype html
html
  block head
    head
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
      link(rel='stylesheet' type='text/css' href='/stylesheets/bootstrap-3.3.7.min.css')
      link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')

      link(rel='stylesheet' type='text/css' href='/fonts/open-sans.css')

      script(src='/javascripts/jquery-3.1.1.min.js')
      script(src='/javascripts/bootstrap-3.3.7.min.js')
      script(src='/javascripts/frontend-helpers.js')

      script(src='/javascripts/alertify-1.11.0.min.js')
      link(rel='stylesheet' type='text/css' href='/stylesheets/alertify-1.11.0.min.css')
      link(rel='stylesheet' type='text/css' href='/stylesheets/alertify.bootstrap-1.11.0.min.css')

      script.
        // Set alertify defaults for Boostrap theme
        alertify.defaults.theme.ok = "btn btn-primary";
        alertify.defaults.theme.cancel = "btn btn-basic";
        alertify.defaults.theme.input = "form-control";

      title kcapp

      block scripts
  body
    div(class='container')
      nav(class='navbar navbar-default')
        div(class='container-fluid')
          div(class='navbar-header')
            button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
              span(class='sr-only') Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand' href='/') Darts Scorer
          div(id='navbar' class='navbar-collapse collapse')
            ul(class='nav navbar-nav')
              li: a(href='/players') Players
              li: a(href='/owes') Owes
              li: a(href='/statistics/weekly') Statistics
              li: a(href='/tournaments') Tournaments
              li: a(href='/matches') Matches
      div(id='jumbotron')
        block content
