extends leg/spectate.pug

block append head
    script(src='/javascripts/responsivevoice.1.5.8..js')
    script(src='/javascripts/socket.io-2.0.3.min.js')

include mixins/dart.pug
include mixins/score_header.pug

block scripts
    script
        include leg/socketio_helper.js
        include leg/spectator_scripts.js
    script.
        var leg = !{JSON.stringify(leg)};
        var playersMap = !{JSON.stringify(players)};
        var venue = !{JSON.stringify(venue)};
        $(function () {
            venueSocket = getVenueNamespace(venue.id)
            configureSocketEventsVenue(venueSocket, leg);

            socket = getLegsNamespace(leg);
            configureSocketEvents(socket, leg, playersMap, true, venueSocket);
        });

block header
    div(class='float-left font-24') Spectate Matches at #{venue.name}