$ var types = require("../../../../../../components/scorecard/components/match_types");
$ var GLOBAL = 0;
<div class="block-container-with-header" style=`margin-bottom: 0px; padding: 5px 0px 5px 0px;`>
    <div class='float-right'>
        <for|idx, type| in=state.types>
            <button class=`btn btn-${state.type == type.id ? "primary" : "secondary"}` on-click("changeType") value=type.id>${type.name}</button>
        </for>
        <button class=`btn btn-${state.type == GLOBAL ? "primary" : "secondary"} ml-20` on-click("changeType") value=GLOBAL>Global</button>
    </div>
</div>