import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <spectate leg=input.leg match=input.match players=input.players leg_players=input.leg_players options=input.options venue=input.venue/>
  </@body>
</>
