// Variables
@dart-inactive: #dddddd;
@dart-single: #000000;
@dart-double: orange;
@dart-triple: #d9534f;
.ml-10 {
    margin-left: 10px;
}

body {
    font-family: "Open Sans";
    background-color: #e5eaef;
}

.no-padding {
    padding: 0px !important;
}

.pad10 {
    padding: 10px !important;
}

.pt-20 {
    padding-top: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    font-size: 12pt;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    color: white;
    background-color: #434a55;
    a {
        color: white !important;
    }
    .navbar-brand {
        margin-right: 30px;
    }
}

.center-table {
    td,
    th {
        text-align: center;
    }
}

.round-border-4px {
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
}

.block-container-header-common {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: left;
}

.block-container-header {
    .round-border-4px;
    .block-container-header-common;
    background-color: #1ABC9C;
    a {
        color: white;
    }
}

.block-container-header-center {
    .round-border-4px;
    .block-container-header-common;
    text-align: center;
    background-color: #1ABC9C;
    a {
        color: white;
    }
}

.block-container-header-red {
    .block-container-header-common;
    .round-border-4px;
    overflow: hidden;
    background-color: #D95459;
}

.block-container-with-header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 1em;
    border: 1px solid #ebeff6;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
    .info {
        font-weight: 700;
    }
    .label-winner {
        background-color: #337ab7;
        color: white;
        border-radius: 5px;
        padding: 5px;
        margin-top: 20px;
    }
    .label-loser {
        //background-color: #000000;
        //color: #fff;
        border-radius: 5px;
        padding: 5px;
        margin-top: 20px;
        font-weight: 700;
    }
}

.block-container-mid {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ebeff6;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
}

.block-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 1em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
    h3,
    p {
        margin: 0px;
        padding: 0px;
    }
    .pagination {
        padding-top: 8px;
    }
}

.block-container-no-margin {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
    h3,
    p {
        margin: 0px;
        padding: 0px;
    }
    .pagination {
        padding-top: 8px;
    }
}

.block-container-options {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 1em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
    h3,
    p {
        margin: 0px;
        padding: 0px;
    }
    .icon {
        width: 80px;
        font-size: 18px;
        color: #c7c7c7;
        text-align: center;
        .undertext {
            font-size: 10pt;
        }
        a,
        a:active {
            color: #c7c7c7;
        }
        a:hover {
            color: #000;
        }
    }
}

.block-container-red {
    .pad10;
    color: white;
    background-color: #D95459;
    margin-bottom: 1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
    h3,
    p {
        margin: 0px;
        padding: 0px;
    }
}

.no-border {
    border: none !important;
}

.fas-option-button {
    font-size: 25px;
    color: #828282;
    vertical-align: middle;
    &:hover {
        color: black;
    }
}