<table style="width: 100%;">
    <tr>
        <for|badge| of=state.badges>
            <td style="width: 25%;">
                <badge image=`/images/badges/${badge.filename}` name=badge.name description=badge.description aquired=badge.aquired/>
            </td>
        </for>
    </tr>
</table>