<div class="block-container-header">
  <i class="fas fa-arrow-alt-circle-down"/>
  <span class="ml-10">Options</span>
</div>
<div class="block-container-with-header">
  <button class="btn btn-primary" type="button" on-click("generatePlayoffs") >
    <i class="fas fa-plus-square"/>
    <span class="ml-10">Generate Playoffs</span>
  </button>
</div>
