<lasso-page package-path="../../browser.json"/>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0">
    <title>kcapp</title>
    <script src="/javascripts/globals.js"/>
    <lasso-head/>
  </head>
  <body>
    <${input.body}/>
    <lasso-body/>
    <!-- Add browser refresh support in development -->
    <browser-refresh/>
  </body>
</html>