// Variables
@dart-board-image: '../images/dartboard.png';
// Colors
@dart-single: #000000;
@dart-double: #56767b;
@dart-triple: #e68200;
body {
    font-family: "Open Sans"
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    font-size: 12pt;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #ddd;
    background: none;
    border-radius: 0px;
    color: black;
}

#match-visits-table #players-table {
    tr {
        border-bottom: 1px solid #ddd;
    }
    td {
        height: 40px;
        vertical-align: baseline;
    }
}

.table-responsive {
    margin-bottom: 10px;
}

a:hover {
    cursor: pointer;
}

.label-player-score {
    padding: 5px 0px 0px 0px;
    font-size: 20pt;
}

.label-player-name {
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

.label-inactive-player {
    background-color: #404040;
    border-bottom: 4px solid black !important;
}

.label-active-player {
    background-color: #d9534f;
    border-bottom: 4px solid #962724 !important;
}

.float-left {
    float: left;
}

.no-border {
    border: none !important;
}

.dart-score-container {
    td {
        padding: 3px;
    }
    label {
        min-width: 50px;
        color: #fff;
        line-height: 2;
        font-size: 15pt;
        border-radius: 3px;
        font-size: 12pt;
        font-weight: 300;
    }
}

#players-table {
    button {
        border: none;
        min-width: 50px;
        color: #fff;
        font-size: 14px;
        border-radius: 3px;
        font-weight: 300;
        background-color: #a6a0ff;        
    }
}

.dart-score-single {
    background-color: @dart-single;
}

.dart-score-double {
    background-color: @dart-double;
}

.dart-score-triple {
    background-color: @dart-triple;
}

.btn-score {
    background-color: #f5f5f5;
    color: black;
}

.btn-double {
    background-color: #ffe6cc;
    color: black;
    border: 2px solid #e7e7e7;
}

.btn-triple {
    background-color: #ffcc66;
    color: black;
    border: 2px solid #e7e7e7;
}

.match-information {
    font-weight: normal !important;
    display: inline-block !important;
}

.txt-center {
    text-align: center;
}

.center-table {
    td,
    th {
        text-align: center;
    }
}

#games-list-table {
    span {
        display: block;
    }
    .center-table
}

#player-statistics-table,
#player-scores-table,
#player-accuracy-table,
#player-owes-table {
    .center-table
}

#score-selector-table {
    border-spacing: 0px;
    td {
        padding: 0px;
        border: 1px solid #fff;
        vertical-align: middle;
    }
    button {
        border: 0;
        border-radius: 0;
        line-height: 0.8;
        padding: 10px;
    }
    label {
        display: block;
        text-align: center;
        border-radius: 0;
        margin: 0;
    }
}

#player-spectate-table {
    label {
        display: block;
        text-align: center;
        border-radius: 0;
        margin: 0;
    }
    .dart-score-container label {
        border-radius: 3px;
    }
}

#player-comparison-table {
    td:first-child {
        text-align: left;
    }
    .center-table
}

#players-table {
    .center-table
}

#player-hits-table {
    label {
        display: block;
    }
    .center-table
}

#dartboard-heatmap {
    width: 600px;
    height: 600px;
    background-image: url(@dart-board-image);
    background-size: 100% 100%;
}

#match-result-table {
    label {
        display: block;
    }
    .center-table
}

#match-visits-table {
    label {
        display: block;
        margin-bottom: 0px;
    }
    .center-table
}

#match-hits-table {
    label {
        display: block;
    }
    .center-table
}

.uv-table-players {
    width: 100%;
    max-width: 100%;
    border-collapse: initial;
}

.uv-table-players {
    td {
        padding: 10px;
        border-right: 10px solid #ffffff;
    }
    .dart-score-container {
        padding: 1px;
    }
}

.uv-table-players td:last-child {
    border-right: none;
}

// umpire view section
.label-player-score-umpire {
    padding: 5px 0px 0px 0px;
    font-size: 20pt;
    font-weight: 300;
}

.uv-active-player-score {
    background-color: #337ab7;
}

.uv-active-player-legs {
    background-color: #255b8a;
    color: white;
    font-size: 15px;
}

.uv-inactive-player-score {
    background-color: #5f5d5d;
}

.uv-inactive-player-legs {
    background-color: #000000;
    color: white;
    font-size: 15px;
}

.uv-inactive-player-visits {
    .inactive-score {
        background-color: #afafaf;
    }
}

.uv-table-mode {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

.uv-table-mode td {
    padding: 10px;
    text-align: center;
    background-color: #255b8a;
    color: white;
}

// CHAT CSS
.glyphicon-comment:before {
    margin-right: 5px;
}

.popup-box {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: 415px;
    position: fixed;
    right: 70px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.popup-messages-footer input {
    width: 100%;
}

.chat-popup-messages textarea {
    width: 100%;
    overflow-y: scroll;
}

.popup-box .popup-head {
    background-color: #fff;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.popup-box-on {
    display: block !important;
}

.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
}
