
<select onChange("handlePlayerChange")>
  <option selected value="-1">-</option>
  <for|player| of=input.players>
    <option selected=(input.selected == player.id) value=`${player.id}`>${player.name}</option>
  </for>
</select>
