#compact-scores-table {
    margin-bottom: 0;
}

#compact-scores-table,
#score-selector-table {
    border-spacing: 0px;
    table-layout: auto;
    td {
        padding: 0px;
        border: 1px solid #000;
        vertical-align: middle;
    }
    button {
        border: 0;
        border-radius: 0;
        line-height: 0.8;
        padding: 10px;
    }
    label {
        display: block;
        text-align: center;
        border-radius: 0;
        margin: 0;
    }
}

.fill-button {
    height: 98px;
}