import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <new-game-form players=data.players modes=data.modes scores=data.scores types=data.types venues=data.venues stakes=data.stakes/>
  </@body>
</>
