@dart-inactive: #dddddd;
@dart-single: #000000;
@dart-double: orange;
@dart-triple: #d9534f;

table {
    width: 100%;
    table-layout: fixed;
}

.total-score {
    .block-container;
    .text-center;
    .font-24;
    font-weight: 700;
    transition: 40ms;
    margin-bottom: 10px;
    padding: 0px 5px 0px 5px;
}

.total-score.submitting {
    background-color: @dart-single;
    color: white;
    transition: 750ms;
    transition-delay: 100ms
}

#table-circket-scores,
#table-dartsatx-scores,
#table-aroundthe-scores,
#table-bermudatriangle-scores,
#table-fourtwenty-scores,
#table-killbull,
#table-gotcha {
    width: 100%;
    tr {
        height: 40px;
        line-height: 40px;
    }
    background-color: white;
    thead {
        tr {
            background-color: #29598e;
            .block-container-header-common;
        }
        text-transform: uppercase;
    }
}

#table-killbull {
    i {
        font-size: 25pt;
    }
    tbody {
        td {
            font-size: 18pt;
        }
    }
}

.fa-rotate--45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.target-text {
    font-size: 28pt;
    font-weight: 400;
}