extends score_layout.pug

block append scripts
    script.
        // Enter will be disabled when confirm dialogs are open
        var disableEnter = false;
        $(function () {
            var dartText = '';
            var currentMultiplier = 1;

            $(document).keydown(function(e) {
                if (e.key === 'Backspace') {
                    if (dartText !== '') {
                        dartText = dartText.substring(0, dartText.length - 1);
                        updateScore(getCurrentDart(), dartText * currentMultiplier, currentMultiplier);
                    } else {
                        $('#undo-button').trigger('click');
                    }
                    e.preventDefault();
                }
                return;
            });

            $(document).keypress(function(e) {
                var dart = getCurrentDart();
                switch(e.key) {
                    case 'Enter':
                        if (disableEnter) {
                            disableEnter = false;
                            return;
                        }
                        if (window.darts_thrown === 3) {
                            $('#submit-score-button').trigger('click');
                        }
                        else {
                            var scoreNumeric = 0;
                            if (dartText === '') {
                                updateScore(dart, 'Miss', 1);
                            }
                            else {
                                var currentPlayer = $('#current-player');
                                scoreNumeric = parseInt(dartText) * dart.attr('data-multiplier');
                                var currentPlayerScore = parseInt(currentPlayer.text());
                                var currentPlayerId = $('#submit-score-button').data('current-player-id');

                                checkVisitFinished(dart, currentPlayerScore, currentPlayerId, scoreNumeric);
                                currentPlayer.text(currentPlayerScore - scoreNumeric);
                            }
                            scores[window.darts_thrown] = scoreNumeric;
                            window.darts_thrown++;
                        }
                        dartText = '';
                        currentMultiplier = 1;
                        return;
                    case '/': // Single
                        currentMultiplier = 1;
                        break;
                    case '*': // Double
                        currentMultiplier = 2;
                        break;
                    case ',': // Triple
                    case '-': // Triple
                        currentMultiplier = 3;
                        break;
                    case '+': // Cycle through multipliers
                        var value = parseInt(dartText);
                        if (dartText === '' || value === 0) {
                            return;
                        }
                        currentMultiplier++;
                        currentMultiplier = currentMultiplier > 3 ? 1 : currentMultiplier;
                        updateScore(dart, dartText * currentMultiplier, currentMultiplier);
                        return;
                    case '1': dartText += '1'; break;
                    case '2': dartText += '2'; break;
                    case '3': dartText += '3'; break;
                    case '4': dartText += '4'; break;
                    case '5': dartText += '5'; break;
                    case '6': dartText += '6'; break;
                    case '7': dartText += '7'; break;
                    case '8': dartText += '8'; break;
                    case '9': dartText += '9'; break;
                    case '0': dartText += '0'; break;
                    default: console.log(e); break;
                }
                var value = parseInt(dartText);
                if (value > 20 && value !== 25) {
                    dartText = dartText.substring(0, dartText.length - 1);
                    disableEnter = true;
                    showAlert('Invalid value', function() { });
                }
                updateScore(dart, dartText * currentMultiplier, currentMultiplier);
            });

            $('#toggle-keyboard-button').click(function () {
                location.href = '/matches/' + matchId;
            });
        });

block title
    h2 Match (Keyboard Entry)

block advanced_options
    li: a(id='toggle-keyboard-button') Disable keyboard mode
    li: a(id='edit-scores-button') Edit scores
    li: a(id='cancel-match-button') Cancel Match