$ var visit = input.visit || input.visits[input.round];
<span class="fa-stack">
    <dart-container-circle dart=visit.first_dart />
</span>
<span class="fa-stack">
    <dart-container-circle dart=visit.second_dart />
</span>
<span class="fa-stack">
    <dart-container-circle dart=visit.third_dart />
</span>