<span class="fa-stack">
    <dart-container-circle dart=input.visits[input.round].first_dart />
</span>
<span class="fa-stack">
    <dart-container-circle dart=input.visits[input.round].second_dart />
</span>
<span class="fa-stack">
    <dart-container-circle dart=input.visits[input.round].third_dart />
</span>