mixin player_order(legPlayers)
    block append scripts
        script.
            $(function () {
                $('#modal-player-selector').keydown(function (e) {
                    if (e.key === 'Enter') {
                        $('#btn-set-player-order').click();
                    } else if (e.key == '0') {
                        $('#btn-start-warmup').click();
                    } else {
                        var player = $("#table-players-select-order").find("[data-player-order=" + e.key + "]");
                        if (player.length === 0) {
                            player = $("#table-players-selected-order").find("[data-player-order=" + e.key + "]");
                        }
                        player.click();
                    }
                    e.preventDefault();
                });
                $('#btn-start-warmup').click(function(e) {
                    console.log("Warmup started");
                });

                $('#table-players-select-order').on('click', 'td', function() {
                    $('#table-players-selected-order tr:first').append($(this).remove());
                });
                $('#table-players-selected-order').on('click', 'td', function() {
                    $('#table-players-select-order tr:first').append($(this).remove());
                });

                $('#btn-set-player-order').click(function() {
                    if ($('#table-players-select-order tr:first').children().length !== 0) {
                        alert("All players must be selected before starting");
                        return;
                    }
                    var tds = $('#table-players-selected-order td');
                    var order = {};
                    var idx = 1;

                    $('#table-players-selected-order').find('tr').find('td').each(function(){
                        order[$(this).data('player-id')] = idx++;
                    });
                    executePut(window.origin + '/legs/' + leg.id + '/order', JSON.stringify(order), 'application/json', function() {
                        location.href = '/legs/' + leg.id;
                    },
                    function(error) {
                        alert('Error changing player order. Please reload');
                        console.log(error);
                        location.reload();
                    });
                    $('#modal-player-selector').modal('hide');
                });
            });

    div(class='modal fade' id='modal-player-selector' tabindex='-1' role='dialog' aria-labelledby='modal-player-selector-title' aria-hidden='true')
        div(class='modal-dialog modal-dialog-centered' role='document')
            div(class='modal-content')
                div(class='modal-header')
                    h4(class='modal-title' id='modal-player-selector-title') Set Player Order
                div(class='modal-body')
                    h5 Players
                    div(class='table-responsive no-border')
                        table(id='table-players-select-order' class='uv-table-players' style='table-layout: fixed')
                            tbody
                                tr
                                    - var order = 0
                                    each player in legPlayers
                                        - order++
                                        - var playerId = player.player_id
                                        td(id='player-score-' + playerId class='block-container-blue' data-player-id=playerId data-player-order=order)
                                            div(class='text-center')
                                                label(class='key-small')= order
                                            label(id='player-name-' + playerId class='label-player-name')= players[playerId].name
                    h5 Order
                    div(class='table-responsive no-border')
                        table(id='table-players-selected-order' class='uv-table-players' style='table-layout: fixed')
                            tbody
                                tr

                div(class='modal-footer')
                    button(id='btn-start-warmup' type='button' class='btn btn-primary')
                        div(class='text-center')
                            label(class='key-small') 0
                            label(class='pl-10') Warmup
                    button(id='btn-set-player-order' type='button' class='btn btn-primary')
                        div(class='text-center')
                            label(class='key-small') ENTER
                            label(class='pl-10') Start Match