import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <match-preview player1=input.player1 player2=input.player2 match=input.match bracket=input.bracket head2head=input.head2head players=input.players p1statistics=input.p1statistics p2statistics=input.p2statistics metadata=input.metadata/>
  </@body>
</>
