<div class="obs-alert-container">
    <h4>Leg</h4><h4 class="score-label">${state.label}</h4>
    <div class="counter">
        <span>${state.valueLeg}</span>
    </div>
    <h4>Tournament</h4><h4 class="score-label">${state.label}</h4>
    <div class="counter">
        <span class="count">${state.valueTournament}</span>
    </div>
</div>