$ var stat1 = input.stat1;
$ var stat1PerLeg = input.stat1PerLeg;
$ var stat2 = input.stat2;
$ var stat2PerLeg = input.stat2PerLeg;
<tr>
    <td> (${stat1}) ${stat1PerLeg}</td>
    <td>${input.label}</td>
    <td>${stat2PerLeg} (${stat2})</td>
</tr>