$ var number = input.parameters.numbers[input.idx];
$ var isClosed = input.parameters.hits[number] ? true : false;
$ var player = isClosed ? input.players[input.parameters.hits[number]] : {};

<td style=`line-height: ${isClosed ? "1" : "2"}` class=`${input.clazz}`>
    <div class='player-name'>${isClosed ? player.first_name : ""}</div>
    <div style=`text-decoration: ${isClosed ? 'line-through' : ''}; color: ${isClosed ? player.color : ""}`>${number}</div>
</td>