<div style="width: 100%;">
    <div class="block-container">
        <h3>Three Dart Avg.</h3>
        <canvas id="canvas-three-dart-avg"></canvas>
    </div>
    <div class="block-container">
        <h3>Checkout %</h3>
        <canvas id="canvas-checkout"></canvas>
    </div>
    <div class="block-container">
        <h3>Scores</h3>
        <canvas id="canvas-scores"></canvas>
    </div>
</div>