$ let aquired = input.aquired;
<div class='highscore-card'>
    <embed id=state.id class=`badge-img ${aquired ? '' : 'not-aquired'}` src=input.image type="image/svg+xml" height="200" width="200" title="343"/>
    <div class="badge-name">${input.name}</div>
    <div class="badge-description">
        <p>${input.description}</p>
    </div>
</div>