import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <leaderboard players=input.players offices=input.offices matchTypes=input.matchTypes defaults=input.defaults x01Leaderboard=input.x01Leaderboard matchTypesLeaderboard=input.matchTypesLeaderboard />
  </@body>
</>
