$ var color = input.change === 0 ? "" : (input.change > 0 ? "green" : "#c74c4e");
<span class=`elo-badge ${input.side}` style=`background-color: ${color}`>${input.change > 0 ? "+" + input.change : input.change}</span>