<div class="x" style=`animation-play-state: ${state.running ? 'running' : 'paused'}`>
    <img class="y" src="https://raw.githubusercontent.com/wiki/kcapp/frontend/images/logo/logo128VC.png" style=`animation-play-state: ${state.running ? 'running' : 'paused'}`/>
</div>