<div class="x" style=`animation-play-state: ${state.running ? 'running' : 'paused'}`>
    <img class="y" src="/images/logo128VC.png" style=`animation-play-state: ${state.running ? 'running' : 'paused'}`/>
</div>