import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <practice players=data.players modes=data.modes scores=data.scores types=data.types venues=data.venues stakes=data.stakes offices=data.offices/>
  </@body>
</>
