import Layout from "../layout.marko"

<${Layout}>
  <@big_body>
    <tournament-admin players=input.players brackets=input.brackets matches=input.matches metadata=input.metadata groups=input.groups modes=input.modes tournament=input.tournament venues=input.venues/>
  </@big_body>
</>
