import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <player players=input.players player=input.player statistics=input.statistics previous_statistics=input.previous_statistics progression=input.progression checkouts=input.checkouts tournament_standings=input.tournament_standings locals=input.locals/>
  </@body>
</>
