import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <tournament-player-matches tournament=input.tournament players=input.players player=input.player matches=input.matches overview=input.overview statistics=input.statistics/>
  </@body>
</>
