<div class="float-right container-icon-arrow">
  <i class="fas fa-arrow-circle-right" data-toggle="tooltip" data-placement="top" title=`${input.previous}` on-click("navigateNext")/>
</div>
<div class="float-right container-icon-arrow">
  <i class="fas fa-arrow-circle-left" data-toggle="tooltip" data-placement="top" title=`${input.next}` on-click("navigatePrevious")/>
</div>
