import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <div>
        <h2>404 Not Found</h2>
        <p>The content you are looking for does not exist ( ${input.url} ) </p>
    </div>
  </@body>
</>