import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <tournament brackets=input.brackets tournament=input.tournament overview=input.overview players=input.players matches=input.matches
      playoffsMatches=input.playoffs_matches statistics=input.statistics modes=input.modes venues=input.venues />
  </@body>
</>
