/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-bg: #eefafc;
    --vt-c-bg-end: #cdebf6;
    --vt-c-white: #ffffff;
    --vt-c-link-blue: #005bff;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--color-text);
    background: linear-gradient(var(--vt-c-bg-end), var(--vt-c-bg));
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: 'Quicksand', sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: var(--vt-c-link-blue);
    font-weight: 600;
}

table {
    width: 100%;
}

.txtr {
    text-align: right;
}

.txtl {
    text-align: left;
}

.txtc {
    text-align: center;
}

.pl20 {
    padding-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.fat {
    font-weight: 900;
}

.font30 {
    font-size: 30px;
    font-weight: 900;
}

.loader {
    text-align: center;
    font-size: 30px;
    color: #5f5f5f;
}
