$ var types = require("../../../scorecard/components/match_types");
$ var statistics = input.statistics;
<table>
  <tr>
    <score-pill text="60+" value=statistics.scores_60s_plus/>
    <score-pill text="100+" value=statistics.scores_100s_plus/>
    <score-pill text="140+" value=statistics.scores_140s_plus/>
    <score-pill text="180" value=statistics.scores_180s/>
  </tr>
</table>
