import Layout from "../layout.marko"

<${Layout}>
  <@body>
    <tournaments-admin groups=input.groups players=input.players offices=input.offices types=input.types modes=input.modes/>
  </@body>
</>
