$ const type = input.type || 'btn-primary';
$ const margin = input.margin || 0;
<div>
    <label style=`margin-left: ${margin}` class=`big-button form-check-label btn ${type}` on-click('handleClick')>${input.text}</label>
</div>