<page-header heading="Players" icon="fa-user"/>
<div>
  <options-panel key="options-panel"/>
  <div class="pt-20"/>
  <div class="block-container no-padding">
    <players-table key="players-table" players=input.players offices=input.offices/>
  </div>
  <div class='text-center'>
    <new-player-form isAdd=true offices=input.offices/>
  </div>
</div>
