<page-header heading="Players" icon="fa-user"/>
<div>
  <options-panel key="options-panel" selected=state.selected on-add-player("addPlayer")/>
  <div class="pt-20"/>
  <div class="block-container no-padding">
    <players-table key="players-table" players=input.players selected=state.selected on-player-checked("playerChecked")/>
  </div>
  <new-player-form player=state.player/>
</div>
